body,
h1,
h2,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: #333;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
	background-color: #fff;
	/* position: fixed; */
	top: 0px;
	left: 0px;
}
h1,
h2 {
	display: flex;
	justify-content: center;
}
.logo {
	font-size: 1.5em;
	color: #000;
}
.nav-links {
	list-style: none;
	display: flex;
}
.nav-links li {
	padding: 0 1em;
}
.nav-links a {
	text-decoration: none;
	color: #000;
}
.auth-buttons {
	display: flex;
}

.auth-buttons a {
	text-decoration: none;
	padding: 0.5em 1em;
	margin-left: 1em;
	border-radius: 5px;
	border: none;
}

.log-in {
	background-color: transparent;
	color: #000;
}

.sign-up {
	background-color: black;
	color: white;
}
.Section {
	margin: 60px 60px;
}
.hero {
	text-align: center;
	padding: 4em 1em;
	background-color: white;
}

.hero h1 {
	margin-bottom: 0.5em;
	font-size: 5.5em;
	color: #000;
}

.hero p {
	margin-bottom: 2em;
	font-size: 1.5em;
	color: #665;
}

.cta-buttons {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.btn-cta {
	padding: 0.75em 2em;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: #000;
}
.btn-cta:hover {
	background-color: gray;
	position: relative;
	bottom: 1%;
	right: 1px;
	transition: background-color 1s ease;
	transform: rotate(360deg);
}
.hero-image-section {
	text-align: center;
	padding: 0.75em 2em;
}
.card-holder {
	display: grid;
	grid-template-columns: [one] 1fr [two] 300px [three] 300px [four] 300px [five] 1fr;
	justify-content: center;
}
.card-div {
	display: flex;
	max-width: 200px;
	border: 1px solid #e6e3e33f;
	border-radius: 5px;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	padding: 28px;
	box-shadow: 10px 5px 5px #e6e3e33f;
}
.product-image {
	max-width: 200px;
}
#hero-image {
	max-width: 675px;
	padding: 0.75em 2em;
}
#main {
	display: flex;
	justify-content: center;
}
#burguer-nav-bar {
	display: none;
}
#table-section {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 4em 1em;
}
#form {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1em 1em;
}
#form-div {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}
.form-input-div {
	display: flex;
	flex-direction: column;
	margin: 30px;
}
#hero-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* margin: 60px 0 20px 0; */
}
#home-section {
	display: flex;
	flex-direction: column;
}
#card-one {
	grid-column-start: two;
}
#card-two {
	grid-column-start: three;
}
#card-three {
	grid-column-start: four;
}
#contact-method-div {
	width: 300px;
}
#contact-method {
	padding: 12px 20px;
	box-sizing: border-box;
}
#form-button {
	max-width: 100px;
	max-height: 50px;
	margin-top: 50px;
}
#name-input {
	width: 300px;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#text-div {
	display: flex;
	justify-content: center;
}
@media (max-width: 768px) {
	nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 1em 2em;
		background-color: #fff;
		/* position: fixed; */
		top: 0px;
		left: 0px;
	}
	nav ul,
	nav div {
		display: flex;
		flex-direction: column;
	}

	.hero {
		padding: 2em 1em;
	}
	#hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cta-buttons {
		flex-direction: column;
	}
	.product-image {
		max-width: 150px;
	}
}
@media (max-width: 435px) {
	#hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#hero-image {
		max-width: 390px;
	}
	.card-holder {
		grid-template-columns: [one] 120px [two] 120px [three] 120px;
	}
	.card-div {
		max-width: 100px;
		padding: 15px;
	}
	.product-image {
		max-width: 100px;
	}
	#card-one {
		grid-column-start: one;
	}
	#card-two {
		grid-column-start: two;
	}
	#card-three {
		grid-column-start: three;
	}
	#form-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 200px;
		margin-bottom: 10px;
	}
	.form-input-div {
		display: flex;
		flex-direction: column;
		margin: 30px;
	}
}
